@use '../../../utils/styles.variables' as styles;
@use '../../UI/Modal/Modal.module.scss' as modalStyles;

// audio::-webkit-media-controls-play-button,
// audio::-webkit-media-controls-panel {
//   background-color: styles.$primaryColor;
// }

.loading-icon-modal {
  @include modalStyles.modalStyle;

  width: 50%;
  height: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  margin: 0 0 8px;
}

.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & > div {
    flex: 50%;

    display: flex;
    flex-direction: column;
    gap: 16px;

    margin-top: 16px;

    label {
      display: inline-block;
      margin-bottom: 4px;
      font-size: 16px;
    }

    input[type='text'],
    select {
      width: 70%;
    }

    .coordinates > div > p {
      font-size: 12px;
      margin: 4px 0;
    }
  }

  .media-uploader {
    .image-uploader {
      input {
        max-width: 90%;
      }
    }

    .audio-uploader {
      .audio-container {
        width: 300px;

        audio {
          width: 100%;
        }
      }
    }
  }
}

.terms {
  margin: 12px;

  .checkcontent {
    & > a {
      text-decoration: none;
      font-family: inherit;
      color: styles.$primaryColor;
      text-decoration: underline;
    }
  }
}

.recorder-buttons {
  margin: 8px;

  & > button {
    margin: 0 8px;
  }
}

.submit-button {
  margin: 16px 0;
}

.new-sound-record-recaptcha-badge {
  margin-top: 12px;
  font-size: 11px;

  & > a {
    color: styles.$primaryColor;
    text-decoration: underline;
  }
}
