@use '../../../../utils/styles.variables' as styles;

.item {
  font-size: 12px;

  &.mini {
    font-size: 11px;
  }

  .active {
    background-color: styles.$secondaryColor;
  }
}

.level-icon {
  position: absolute;
  top: -2px;
  width: 18px;

  margin-left: 8px;
}
