@use '../../../utils/styles.variables' as styles;

* {
  box-sizing: border-box;
}
.modal {
  box-sizing: border-box;

  position: fixed;
  z-index: 1500;
  background-color: styles.$secondaryLightColor;
  width: 50%;
  border: 1px solid #ccc;
  box-shadow: styles.$mainLightBoxShadow;
  padding: 16px;
  left: 25%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;

  text-align: center;

  .content {
    margin: 16px 20px;
  }
}

@media only screen and (max-width: styles.$smallScreenSize) {
  .modal {
    width: 300px;
    left: calc(50% - 150px);
  }
}
