@use '../../../utils/styles.variables' as styles;
@use '../../UI/Modal/Modal.module.scss' as modalStyles;

.list-panel-modal {
  @include modalStyles.modalStyle;

  width: 30%;
  height: 80%;
  min-width: 200px;
  max-width: 350px;
  transform: translate(0, 0);
  top: 60px;
  left: 53px;
}

@media only screen and (max-width: styles.$mediumScreenSize) {
  .list-panel-modal {
    top: 10px;
    width: 80%;
    height: 30%;
    min-width: 200px;
    max-width: 1000px;
  }
}

@mixin topListPanel {
  position: relative;
  top: -50px;

  padding-bottom: 10px;

  box-shadow: styles.$bottomStrongBoxShadow;
}

@mixin bottomListPanel {
  position: relative;
  top: -50px;
  margin-bottom: -50px;

  & > div {
    &::-webkit-scrollbar {
      width: 5px;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: styles.$primaryTransparentColor;
    }
  }

  & > div > div > div {
    & > p {
      font-size: 12px;
      margin: 0;
      padding: 8px 0;
      box-shadow: styles.$bottomLightBoxShadow;

      &:hover {
        cursor: pointer;
        background-color: styles.$secondaryColor;
      }
      & > span {
        position: relative;
      }
    }
  }
}
