@use '../../../utils/styles.variables' as styles;
@use './Listpanels/ListPanel.module.scss' as listPanelStyles;

.search-fields {
  @include listPanelStyles.topListPanel;

  & > p {
    display: inline-block;
  }

  label {
    display: inline-block;
    margin: 6px 0 4px;
    font-size: 12px;
  }

  button {
    display: inline-block;
    margin-top: 12px;
    padding: 6px;
  }

  input[type='text'],
  select {
    width: 70%;
  }
}

.search-list {
  @include listPanelStyles.bottomListPanel;
}
