@use '../../../utils/styles.variables' as styles;
@use '../../UI/Map/ListPanel.module.scss' as listPanelStyles;

.title {
  @include listPanelStyles.topListPanel;

  margin: 12px 0;

  & > p {
    display: inline-block;
    margin: 2px 0;
  }
}

.list {
  @include listPanelStyles.bottomListPanel;
}
