@use '../../../utils/styles.variables' as styles;

.container {
  padding: 0 64px 32px;
  & > p {
    font-size: 18px;
  }

  .checkcontent {
    & > a {
      text-decoration: none;
      font-family: inherit;
      color: styles.$primaryColor;
      text-decoration: underline;
    }
  }
}
