@use '../../utils/styles.variables' as styles;

.soundmap {
  min-width: 100px;
  width: 100%;
  height: calc(100vh - styles.$navbarHeight);

  & > * {
    width: 100%;
    height: 100%;

    cursor: crosshair;
  }
}

@media only screen and (max-width: styles.$smallScreenSize) {
  .soundmap {
    height: 100vh;
  }
}
