@use '../../../utils/styles.variables' as styles;

.popup {
  a,
  span {
    display: none;
  }

  // outer box
  & > div:nth-child(1) {
    background-color: styles.$secondaryLightColor;
    text-align: center;

    // inner box
    & > div:nth-child(1) {
      margin: 13px 13px;

      display: flex;
      gap: 16px;
    }
  }

  // triangle
  & > div:nth-child(2) > div {
    background-color: styles.$secondaryLightColor;
  }

  .popup-content {
    p {
      font-size: 16px;
      margin: 4px;
      color: styles.$primaryColor;
    }

    .report-button {
      & > button {
        float: right;

        & > p {
          font-weight: bold;
        }
      }
    }

    .instrument {
      margin: 8px;
      color: styles.$primaryColor;
      font-size: 20px;
    }

    .main-content {
      & > div {
        float: left;
        width: 50%;
        margin: 8px 0;
        text-align: center;
      }

      .description {
        margin-top: 12px;
      }
    }

    img {
      width: 120px;
      cursor: pointer;
    }
  }
}

.actions > * {
  margin: 8px;
}

.report-comment {
  margin-bottom: 16px;

  & > input {
    width: 80%;
  }
}

.zoomin {
  max-width: 90%;
  max-height: 90%;
}

.report-container {
  padding: 8px 24px 16px;

  & > p {
    margin-top: 0;
  }
}
