@use '../../../utils/styles.variables' as styles;
@use '../../UI/Modal/Modal.module.scss' as modalStyles;

.image-modal {
  @include modalStyles.modalStyle;

  background: none;
  border: 0;

  .zoomin {
    min-width: 200px;
    min-height: 200px;
    max-width: 75vw;
    max-height: 75vh;
  }
}

.popup {
  a,
  span {
    display: none;
  }

  // outer box
  & > div:nth-child(1) {
    // background styles at popup-"level" on top of file

    text-align: center;

    // inner box
    & > div:nth-child(1) {
      margin: 13px 13px;

      display: flex;
      gap: 16px;
    }
  }

  // background styles at popup-"level" on top of file

  .popup-content {
    p {
      font-size: 16px;
      margin: 4px;
      color: styles.$primaryColor;
    }

    .report-button {
      & > button {
        float: right;

        & > p {
          font-weight: bold;
        }
      }
    }

    .instrument {
      margin: 8px;
      color: styles.$primaryColor;
      font-size: 20px;
    }

    .main-content {
      & > div {
        float: left;
        width: 50%;
        margin: 8px 0;
        text-align: center;
      }

      .description {
        margin-top: 12px;

        word-wrap: break-word;
        max-width: 500px;
      }
    }

    img {
      width: 140px;
      max-height: 200px;
      cursor: pointer;
    }

    .audio-container {
      width: 300px;

      audio {
        width: 100%;
      }
    }
  }
}

.report-container {
  padding: 8px 24px 16px;

  & > p {
    margin-top: 0;
  }

  .report-comment {
    margin-bottom: 16px;

    & > input {
      width: 80%;
    }
  }

  .actions > * {
    margin: 8px;
  }
}
