@use '../../utils/styles.variables' as styles;

.container {
  margin: 20px 0 0;
  text-align: center;

  .filter {
    input {
      margin: 16px 16px 24px;
      background-color: styles.$secondaryColor;
    }

    button {
      margin: 16px;
    }

    .import-p {
      margin-left: 16px;
      display: inline;
    }
  }
}
