@use '../../utils/styles.variables' as styles;

.button {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  color: styles.$secondaryDarkColor;
  background-color: styles.$primaryColor;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.5rem;
  font-size: 1rem;
  letter-spacing: 0.6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.button:hover,
.button:active,
.button:focus {
  text-decoration: underline;
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.5);
  opacity: 0.85;
}

.image {
  height: 4vh;
  box-shadow: none;
  border: none;
  vertical-align: middle;
}

.text {
  margin-left: 15px;
  font-size: 0.8rem;
  vertical-align: middle;
  font-weight: bold;
}
