@use '../../utils/styles.variables' as styles;

  .form {
    // position: fixed;
    // top: 10%;
    // left: 10%;
    // width: 80%;
    // height: 80%;

    overflow-y: auto;

    background-color: styles.$secondaryLightColor;

    text-align: center;

    .close {
      display: flex;
      justify-content: flex-end;

      & > button {
        margin: 8px 12px;
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
