$primaryColor: #ffff00;
$primaryTransparentColor: rgba(255, 255, 0, 0.3);

$secondaryColor: #444444;
$secondaryLightColor: #666666;
$secondaryDarkColor: #222222;

$lightContrastColor: #ffffff;
$darkContrastColor: #000000;

$fontFamily: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
  Helvetica, Arial, sans-serif;

$navbarHeight: 50px;

$mainLightBoxShadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.25);
$mainStrongBoxShadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
$bottomLightBoxShadow: 0px 5px 5px -5px rgba(255, 255, 255, 0.25);
$bottomStrongBoxShadow: 0px 5px 5px -5px rgba(255, 255, 255, 0.5);

$smallScreenSize: 500px;
$mediumScreenSize: 700px;

@mixin appearance($value: none) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  -ms-appearance: $value;
  -o-appearance: $value;
  appearance: $value;
}

@mixin defaultInput {
  color: $primaryColor;
  background-color: $secondaryLightColor;
  border: 0 solid transparent;
  box-shadow: $mainLightBoxShadow;
  padding: 4px 8px;
  font-size: 14px;
}
