@use "../../../utils/styles.variables" as styles;

.button-container {
  width: 34px;
  height: 34px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: styles.$secondaryLightColor;
  text-align: center;

  & > * {
    cursor: pointer;
  }

  &:hover {
    background-color: styles.$secondaryDarkColor;
  }
}
